@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root{
    --w-color:#ffffff;
    --b-color:#050b0c;
    --font-weight9:900;
    --font-weight6:600;
    --font-weight1:100;
    --font-size1:1vmax;
    --font-size2:1.5vmax;
    --font-size3:3vmax;
    --font-size4:5vmax;
} 

body, h1, h2, h3, h4, h5, h6, input, textarea, select {
	  font-family: 'Noto Sans KR', sans-serif;
}

body {
    font-size:var(--font-size1);
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color:var(--w-color);
    background:var(--b-color);
}
body::-webkit-scrollbar { display: none; }

.wrap {
    width: 100%;
    height: 8000px;
}

.haram-section1 {
    width: 100%;
    height: 1000px;
    overflow: hidden;
    position: relative;
}

.haram-section1>.haram-top-btn {
    bottom: -1.5%;
    right: 3%;
    z-index: 1500;
    cursor: pointer;
    position: fixed;
}
.haram-top-btn>.top-btn-arrow {
    top: 55px;
    left: 69px;
    position: absolute;
}

.haram-section1>video {
    top: -35px;
    left: 0px;
    width: 100%;
    height: auto;
    z-index: 1000;
    position: absolute;
}

/* header off */
.hd-off {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 120px;
    z-index: 1100;
    position: absolute;
}
.hd-off>h1 {
    top: 35px;
    left: 44.5%;
    position: absolute;
}

.haram-off-main-menu {
    top: 0px;
    left: 2%;
    width: 40%;
    height: 120px;
    position: absolute;
}
.haram-off-main-menu>li {
    float: left;
    height: 120px;
    position: relative;
    color: #fff;
    font-size: 1vmax;
    font-weight: 320;
    text-align: center;
    line-height: 120px;
}
.haram-off-main-menu>li:nth-child(1) { width: 15%; }
.haram-off-main-menu>li:nth-child(2) { width: 18%; }
.haram-off-main-menu>li:nth-child(3) { width: 13%; }
.haram-off-main-menu>li:nth-child(4) { width: 22.5%; }
.haram-off-main-menu>li:nth-child(5) { width: 15%; }

.haram-sub-menu {
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}
.haram-sub-menu>li {
    height: 30px;
    font-size: 0.8vmax;
    line-height: 30px;
}

.haram-sub-menu>li>a:hover { text-decoration: underline; }
.haram-off-main-menu>li:hover>.haram-sub-menu { height: 200px; }

.haram-icon-menu {
    top: 0px;
    right: 3%;
    width: 40%;
    height: 120px;
    position: absolute;
}
.haram-icon-menu>li {
    float: left;
    position: absolute;
}
.haram-icon-menu>li:nth-child(1) { top: 43.5px; right: 18.5%; }
.haram-icon-menu>li:nth-child(2) { top: 49px; right: 10%; }
.haram-icon-menu>li:nth-child(3) { top: 46px; right: 0%; }

/* header on */
.hd-on {
    display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 1000px;
    z-index: 1200;
    position: absolute;
    background-color: #000;
}
.hd-on>h1 { display: none; }
.hd-on>h1:nth-child(1) {
    top: 35px;
    left: 2%;
    position: absolute;
}
.hd-on>h1:nth-child(2) {
    top: 46px;
    right: 3%;
    position: absolute;
}

.haram-on-main-menu {
    display: none;
    bottom: 2.5%;
    left: 19.5%;
    width: 530px;
    height: 850px;
    transform: rotate(-90deg);
    position: absolute;
}
.haram-on-main-menu>li {
    height: 170px;
    color: #7e7e7e;
    font-size: 5vmax;
    font-weight: 700;
}
.haram-on-main-menu>li>a { transition: all 0.5s; }
.haram-on-main-menu>li>a:hover { color: #fff; }

.haram-intro-menu {
    display: none;
    bottom: 20%;
    right: 9.8%;
    width: 20.2%;
    z-index: 1300;
    position: absolute;
}
.haram-intro-menu>li {
    margin-bottom: 60px;
    position: relative;
}
.haram-intro-menu>li:nth-child(3) { margin-bottom: 0px; }
.haram-intro-menu>li>.haram-intro-topic {
    margin-bottom: 20px;
    color: #7e7e7e;
    font-size: 0.8vmax;
    font-weight: 450;
}
.haram-intro-menu>li>.haram-intro-title {
    font-size: 1.05vmax;
    font-weight: 350;
    line-height: 26px;
}
.haram-intro-menu>li>.haram-intro-arrow {
    display: block;
    bottom: 0px;
    right: 0px;
    width: 58px;
    height: 58px;
    position: absolute;
}