@charset "utf-8";
/* 공통 */


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root{
  --w-color:#ffffff;
  --b-color:#050b0c;
  --font-weight9:900;
  --font-weight6:600;
  --font-weight1:100;
  --font-size1:1vmax;
  --font-size2:1.5vmax;
  --font-size3:3vmax;
  --font-size4:5vmax;
} 

body, h1, h2, h3, h4, h5, h6, input, textarea, select {
	font-family: 'Noto Sans KR', sans-serif;
}

body {
    font-size:var(--font-size1);
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    color:var(--w-color);
    background:var(--b-color);
}

